.cooldown-button {
  position: relative;
  width: 120px;
  height: 50px;
  border: 1px solid black;
  margin-bottom: 16px;

  .cooldown {
    height: 100%;
    background: #cccccc;
  }

  p {
    position: absolute;
    width: 100%;
    text-align: center;
  }
}

.cooldown-enabled {
  cursor: pointer;
}

.cooldown-disabled {
  cursor: default;
}
