.cooldown-button {
  position: relative;
  width: 120px;
  height: 30px;
  border: 1px solid black;
  margin-bottom: 16px;

  .cooldown {
    height: 100%;
    background: #cccccc;
  }

  p {
    position: absolute;
    width: 100%;
    text-align: center;
  }

  .cooldown-button-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;

    p {
      margin: 0px;
      z-index: 2;
    }
  }
}

.cooldown-enabled {
  cursor: pointer;
}

.cooldown-disabled {
  cursor: default;
}
