body {
  margin: 10px;
  height: calc(100% - 20px);
}

.full {
  height: 100%;
}

/* Part of tooltip CSS from http://jsfiddle.net/AndreaLigios/jtLbpy62/ */
[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

.cooldown-disabled[tooltip]:before {
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    padding: 5px;
    border: 1px solid black;
    z-index: 2;
    color: red;
}

.cooldown-disalbed[tooltip]:hover:before {
    opacity: 1;
    background: white;
    margin-top: 35px;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 0.2s;
    -ms-animation: fadein 0.2s;
    -o-animation: fadein 0.2s;
    animation: fadein 0.2s;
}

[tooltip]:before {
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    padding: 5px;
    border: 1px solid black;
    z-index: 2;
    color: blue;
}

[tooltip]:hover:before {
    opacity: 1;
    background: white;
    margin-top: 35px;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 0.2s;
    -ms-animation: fadein 0.2s;
    -o-animation: fadein 0.2s;
    animation: fadein 0.2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* https://stackoverflow.com/questions/22666063/how-to-fade-the-edge-of-a-div-with-just-css */
.fade {
    position: relative;
    bottom: 4em;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}
